# Mission to Mars

## Step 1 - Scraping

### NASA Mars News

Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. https://mars.nasa.gov/news/
Assign the text to variables that you can reference later.

In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import requests

## Mac Users

In [ ]:
# !which chromedriver

In [ ]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)

## Windows Users

In [2]:
# Choose the executable path to driver (Windows)
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### Nasa Mars News

In [65]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [66]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = bs(html, 'html.parser')

In [67]:
# scrape the article for first New Title 
title = soup.find('div', class_='content_title').find('a').text

# scrape the article teaser paragraph
first_pp = soup.find('div', class_='article_teaser_body').text

# print article data
print(title)
print('-----------------')
print(first_pp)

A Year of Surprising Science From NASA's InSight Mars Mission
-----------------
A batch of new papers summarizes the lander's findings above and below the surface of the Red Planet.

### JPL Mars Space Images - Featured Image

In [74]:
# Visit the url for JPL Featured Space Image here. https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [75]:
# Use splinter to navigate the site and find the image url for the current Featured Mars Image 
# Make sure to find the image url to the full size .jpg image.
browser.click_link_by_partial_text('FULL IMAGE')

In [76]:
# and assign the url string to a variable called featured_image_url.
image_html = browser.html
image_soup = bs(image_html, 'html.parser')
find_image_url = image_soup.find('img', class_='fancybox-image')['src']
featured_image_url = f'https://www.jpl.nasa.gov{find_image_url}'
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA23446_ip.jpg

### Mars Weather

In [3]:
# Visit the Mars Weather twitter account and scrape the latest Mars weather tweet from the page. 
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

In [6]:
# Save the tweet text for the weather report as a variable called mars_weather
weather_html = browser.html
weather_soup = bs(weather_html, 'html.parser')

tweets = weather_soup.find_all('span', class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0')

# loop to find the first tweet
for tweet in tweets:
    weather = tweet.get_text()
    
    if "InSight sol" in weather:
        mars_weather = weather
        break
        
mars_weather

'InSight sol 442 (2020-02-23) low -94.1ºC (-137.3ºF) high -10.5ºC (13.0ºF)\nwinds from the SSE at 6.2 m/s (13.8 mph) gusting to 21.1 m/s (47.3 mph)\npressure at 6.30 hPa'

### Mars Facts

In [68]:
# Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet including:
# Diameter, Mass, etc.
facts_url = 'https://space-facts.com/mars/'
browser.visit(facts_url)

In [71]:
# Use Pandas to convert the data to a HTML table string
mars_read = pd.read_html(facts_url)
mars_facts = pd.DataFrame(mars_read[0])
mars_facts.columns = ['Description', 'Value']
mars_facts

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [73]:
mars_html = mars_facts.to_html(index=False)
print(mars_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [34]:
# Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)

In [39]:
# You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
# Save both the image url string for the full resolution hemisphere image, and the Hemisphere title
# create empty list for the hemispheres
mars_hemi = []

urls = browser.find_by_css('a.product-item h3')

for i in range(len(urls)):
    # Use a Python dictionary to store the data using the keys img_url and title
    hemi_dict = {}
    
    browser.find_by_css('a.product-item h3')[i].click()
    hemi_url = browser.find_link_by_text('Sample').first
    # Store the data using the keys img_url and title
    hemi_dict['title'] = browser.find_by_css('h2.title').text.strip(' Enhanced')
    hemi_dict['img_url'] = hemi_url['href']
    mars_hemi.append(hemi_dict)
    
    browser.back()

mars_hemi

[{'title': 'Cerberus Hemispher',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemispher',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemispher',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemispher',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

## Step 2 - MongoDB and Flask Application

Use MongoDB with Flask templating to create a new HTML page that displays all of the information that was scraped from the URLs above.

In [ ]:
# Start by converting your Jupyter notebook into a Python script called scrape_mars.py with a function
# called scrape that will execute all of your scraping code from above and return one Python dictionary containing all
# of the scraped data.

In [ ]:
# Next, create a route called /scrape that will import your scrape_mars.py script and call your scrape function.
# Store the return value in Mongo as a Python dictionary.

In [ ]:
# Create a root route / that will query your Mongo database and pass the mars data into an HTML template to display the data.

In [ ]:
# Create a template HTML file called index.html that will take the mars data dictionary and display all of the data in the appropriate HTML elements.
# Use the following as a guide for what the final product should look like, but feel free to create your own design.